{
    "env": {
      "test": {
        "plugins": ["@babel/plugin-transform-modules-commonjs", "transform-async-to-generator"]
      }
    }
  }
  //https://stackoverflow.com/questions/35756479/does-jest-support-es6-import-export